{% extends 'base.html' %}

{% block bodyBlock %}
    {{ object_list|length }} post entries are found.
    <hr>
    {% for object in object_list %}
        <div class="post">
            <h3>{{ forloop.counter }} <a href="{% url 'detail' pk=object.pk %}">{{ object.title|cut:" " }}</a></h3>
            <small>{{ object.created_date|date:"Y M d D" }} {{ object.created_date|time:"h:i" }}</small>
            <p>{{ object.content|truncatechars:"10" }}</p>
            <p>{{ object.content|truncatewords:3 }}</p>
        </div>
    {% empty %}
        <p>No entries found</p>
    {% endfor %}
{% endblock %}