{% load blog_tags %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'blog:home' %}">{% blog_name %}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'blog:home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:about' %}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:contact' %}">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:new_post' %}">Create Post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:api_doc' %}">API</a>
            </li>
            <li class="nav-item">
                {% if user.is_authenticated %}
                    <small>Logged in as: {{ user.username }}</small>
                    <a class="nav-link" href="{% url 'blog:logout' %}?next={% url 'blog:login' %}">logout</a>
                {% else %}
                    <a class="nav-link" href="{% url 'blog:login' %}?next={{request.path}}">Login</a>
                    <a class="nav-link" href="{% url 'blog:register' %}">Register</a>
                {% endif %}
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="{% url 'blog:search' %}" method="POST">
            {% csrf_token %}
            <input class="form-control mr-sm-2" type="search" placeholder="Search" name="searchquery" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>